.uploader .filelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.uploader .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.uploader .filelist li {
    width: 110px;
    height: 110px;
    border:1px solid #d4d4d4;
    border-radius:6px;
    text-align: center;
    margin: 0 8px 20px 0;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
}
.uploader .filelist li img{
    width:100%;
    height:100%;
}
.uploader .filelist li .thumbInfo {
    position:absolute;
    bottom: -2px;
    right: -14px;
    width: 46px;
    height: 20px;
    line-height: 20px;
    transform: rotate(-45deg);

}
.uploader .filelist li .success{
    background-color:#13ce66;
}
.uploader .filelist li .pending{
    background-color:#ff5722;
}
.uploader .filelist li .error{
    background-color:#ec1515;
}
.uploader .filelist li .thumbInfo span{
    transform:rotate(45deg);
    color:#fff;
}

.uploader .filelist li.addThumb{
    position:relative;
    border:1px dashed #d4d4d4;
    cursor:pointer;
}
.uploader .filelist li.addThumb span{
     font-size:30px;
     color:#e3e3e3;
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
 }
.uploader .filelist li.addThumb:hover span{
    color:#aaaaaa;

}
.uploader .filelist li img {
    width: 100%;
}

.uploader .filelist li:hover .file-panel{
    display:block;
}
.uploader .filelist div.file-panel {
    display:none;
    position: absolute;
    cursor:pointer;
    background: rgba( 0, 0, 0, 0.2 );
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
}

.uploader .filelist div.file-panel span {
    font-size:20px;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}