<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>list</title>
    <link href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/bootstrap.dz.min.css" rel="stylesheet">
    <link href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/theme.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="../../src/imgUploader/style.css"/>-->
</head>
<body>
<div id="uploader">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">上传图片</h3>
        </div>
        <div class="panel-body">
            <img-uploader ref="imgUploader"
                          :thumbnail-width="100"
                          :thumbnail-height="100"
                          :imgs="imgs"
                          :result-filter="resultFilter"
                          :form-data="formData"
                          @runtime-error="showError">
            </img-uploader>
        </div>
        <div class="panel-footer clearfix">
            <span class="text-danger">{{error}}</span>
            <span class="pull-right">
                <button type="button" class="btn btn-sm btn-primary" @click="getUrls">获取图片地址列表</button>
                <button type="button" class="btn btn-sm btn-primary" @click="getUploadedImgs">获取已上传的图片列表</button>
                <button type="button" class="btn btn-sm btn-primary" @click="getPendingImgs">获取正在上传的图片列表</button>
                <button type="button" class="btn btn-sm btn-primary" @click="getErrorImgs">获取上传错误的图片列表</button>
                <button type="button" class="btn btn-sm btn-primary" @click="isPending">当前是否有图片正在上传</button>
                <button type="button" class="btn btn-sm btn-primary" @click="refreshUploader">刷新图片上传组件</button>
                <button type="button" class="btn btn-sm btn-primary" @click="resetUploader">重置图片上传组件对象</button>
                <button type="button" class="btn btn-sm btn-primary" @click="cancelUpload">取消正在上传的图片</button>
            </span>
        </div>
    </div>


</div>
<script src="http://static.uc108.com/cdn/jquery/2.1.0/jquery.js"></script>
<script src="http://static.uc108.com/cdn/webuploader/0.1.5/webuploader.html5only.js"></script>
<%= htmlWebpackPlugin.options.script %>
</body>
</html>